/**
 * Archive
 *
 */

.archive span.small-caps {
        font-size: smaller;
}

.archive .format-status .entry-title {
	display: none;
}

.archive .page-header h1.page-title {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 1.35;
        margin-bottom: 15px;
}

.taxonomy-description {
	color: #686868;
        font-size: 14px;
        font-size: 0.875rem;
	line-height: 1.6153846154;
}

.taxonomy-description p {
	margin: 0.5384615385em 0 12px;
}

.taxonomy-description > ul ul {
        list-style-type: circle;
}

.taxonomy-description > ul {
        margin: -10px 0 0 1.25em;
}

.taxonomy-description table {
        margin: 30px 0 20px;
        font-size: 95%;
}

.taxonomy-description table td.work-title {
        width: 50%;
}

.taxonomy-description table td.work-publisher {
        width: 35%;
}

.taxonomy-description table td.work-release-date {
        width: 15%;
}

.tax-selection .taxonomy-description > ul {
        margin-top: 0;
}

.taxonomy-description > p:last-child {
	margin-bottom: 0;
}

.taxonomy-description.social-icons {
        margin-top: 10px;
}

.taxonomy-description.social-icons p,
.taxonomy-description.social-icons ul {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle;
}

.taxonomy-description.social-icons ul {
        margin-left: 5px;
}

.taxonomy-description.social-icons ul li {
        display: inline;
}

.taxonomy-description.publisher-collections {
        margin: 13px 0 10px;
}

.taxonomy-description.publisher-collections a {
        text-decoration: none;
        box-shadow: none;
}

.taxonomy-description ul.prize-selections {
        margin: 10px 0 0 10px;
}

.taxonomy-description ul.prize-selections li {
        margin-bottom: 5px;
}

body.error404 .page-header,
body.search-no-results .page-header {
	border-top: 0;
	padding-top: 0;
}

/* Taxonomy archive */
body:not(search-results) article:not(.sticky) .entry-footer .album-release-date,
body:not(search-results) article:not(.sticky) .entry-footer .book-release-date {
        display: none;
}

body.tax-person    .entry-footer .posted-on + .posted-on,
body.tax-publisher .entry-footer .posted-on + .posted-on {
        display: none;
}

body.tax-person    article:not(.sticky) .entry-footer .album-release-date,
body.tax-person    article:not(.sticky) .entry-footer .book-release-date,
body.tax-publisher article:not(.sticky) .entry-footer .book-release-date {
        display: block;
}

body.tax-person article .entry-footer .comments-link,
body.tax-person article .entry-footer .cat-links {
        display: none;
}


/**
 * 14.4 - <= 768px
 */

@media screen and (max-width: 767px) {
        .archive .page-header h1.page-title {
                font-size: 18px;
                font-size: 1.125rem;
        }

        body.tax-person    article:not(.sticky) .entry-footer .album-release-date,
        body.tax-person    article:not(.sticky) .entry-footer .book-release-date,
        body.tax-publisher article:not(.sticky) .entry-footer .book-release-date {
                display: inline;
        }

        .taxonomy-description table td.work-title {
                width: 80%;
        }

        .taxonomy-description table td.work-publisher {
                display: none;
        }

        .taxonomy-description table td.work-release-date {
                width: 20%;
        }
}


/**
 * 14.4 - >= 985px
 */

@media screen and (min-width: 61.5625em) {
        body.archive .tags-links {
                display: none;
        }

        body.archive .entry-footer .prizes-links,
        body.archive .entry-footer .selections-links {
                display: none;
        }

        body.archive .post-1359 .locations-links {
                display: none;
        }

        body.archive.tax-prize .entry-footer .posted-on,
        body.archive.tax-prize .entry-footer [class$="links"],
        body.archive.tax-selection .entry-footer .posted-on,
        body.archive.tax-selection .entry-footer [class$="links"] {
                display: none;
        }

        body.archive.tax-prize .entry-footer .book-release-date,
        body.archive.tax-prize .entry-footer .prizes-links,
        body.archive.tax-selection .entry-footer .book-release-date,
        body.archive.tax-selection .entry-footer .selections-links {
                display: block;
        }
}
