/**
 * Table of Contents
 *
 * 1.0 - Single styles
 * 2.0 - Post Dictionary
 * 3.0 - Table Book Metadata
 * 4.0 - Add partners images
 * 5.0 - Page templates
 *    5.1 - Full-width single
 *    5.2 - Single interview
 * 6.0 - Comments
 * 7.0 - Jetpack Related Posts
 * 8.0 - Media Queries
 */


/*
 * 1.0 - Single styles
 */

.single span.small-caps {
    font-size: smaller;
}

.single header ol.breadcrumb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fable {
    margin-bottom: 20px;
    background-color: #faf9f5;
    border-left: 4px solid #efece2;
    padding: 18px 10px;
    width: 48%;
    float: left;
    text-align: center;
    font-size: 13px;
}

.postid-162 .entry-content ul li {
    margin-bottom: 3px;
}

.akismet_comment_form_privacy_notice {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    margin-top: 30px;
    line-height: 1.65;
}

.hentry div.sharedaddy h3.sd-title {
    font-size: 11px;
    font-size: 0.6875rem;
}

.single .entry-content blockquote.modern-quote {
    margin-left: 0;
    font-size: 14px;
    font-size: 0.875rem;
    border: none;
    padding: 0 30px;
    font-style: normal;
}

.single .entry-content blockquote.modern-quote em {
    font-style: italic;
}

.single .entry-content blockquote.modern-quote.center {
    text-align: center;
}

.single .entry-content blockquote.modern-quote.justify {
    text-align: justify;
}


/**
 * 2.0 - Post Dictionary
 */

.post_dictionary_letters ul {
    list-style: none;
    margin-left: 0;
}

.post_dictionary_letters li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 10px 0 0;
    text-transform: uppercase;
}

.post_dictionary_data .post_dictionary_letter {
    font-size: 24px;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0 0 0.75em;
}

.post_dictionary_data dd.post_dictionary_info {
    font-style: italic;
    margin: 0;
}


/**
 * 3.0 - Table Book Metadata
 */

.single-metadata {
  font-size: 14px;
}

.entry-content .single-metadata h2 {
  margin: 2em 0 1em;
}

.single-metadata td + td {
    width: 55%;
}

.single-metadata tr.affiliate_links td + td {
    padding-right: 0;
}

table.book_metadata td {
    padding: 1em 0;
    font-size: 13px;
    font-size: 0.8125rem;
    vertical-align: top;
}

table.book_metadata td.book_data {
    padding: 1em;
}

table.book_metadata td ul.book_info {
    margin: 15px 0 0;
    list-style: none;
}


/*
 * 4.0 - Add partners images
 */

a.logo_partner {
    position: relative;
    display: block;
    vertical-align: middle;
    width: 180px;
    height: 30px;
    text-align: right;
    font-size: 10px;
    line-height: 29px;
    max-width: 98%;
    color: #111;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    -webkit-transition: all 0.75s ease-in;
    -moz-transition: all 0.75s ease-in;
    -ms-transition: all 0.75s ease-in;
    transition: all 0.75s ease-in;
}

a.logo_partner img {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 3px;
    left: 2px;
    color: transparent;
    border-radius: 3px;
}

a.logo_partner span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: calc(100% - 24px);
    text-align: center;
    box-sizing: border-box;
    padding: 0 4px 0 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.logo_libraires_fr {
    margin-bottom: 5px;
}

a.logo_libraires_fr img {
    height: 24px;
}

a.logo_libraires_fr {
    border-color: #bcbcbc #ababab #9a9a9a;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #d8d8d8 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d8d8d8 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#d8d8d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 );
}

a.logo_libraires_fr:hover {
    background: #f7f7f7;
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #d1d1d1 100%);
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#d1d1d1 100%);
    background: linear-gradient(to bottom,  #f7f7f7 0%,#d1d1d1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d1d1d1',GradientType=0 );
}

a.logo_amazon {
    border-color: #a88734 #9c7e31 #846a29;
    background: -moz-linear-gradient(top, #f7dfa5 1%, #f0c14b 100%);
    background: -webkit-linear-gradient(top, #f7dfa5 1%,#f0c14b 100%);
    background: linear-gradient(to bottom, #f7dfa5 1%,#f0c14b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7dfa5', endColorstr='#f0c14b',GradientType=0 );
}

a.logo_amazon:hover {
    background: #f1c861;
    background: -moz-linear-gradient(top, #f5d78e 1%, #eeb933 100%);
    background: -webkit-linear-gradient(top, #f5d78e 1%,#eeb933 100%);
    background: linear-gradient(to bottom, #f5d78e 1%,#eeeb933 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d78e', endColorstr='#eeeb933',GradientType=0 );
}


/**
 * 5.0 - Page templates
 */


/**
 * 5.1 - Full-width single
 */

.album-template-fullwidth-single-album         .content-area,
.book-template-fullwidth-single-book           .content-area,
.concert-template-fullwidth-single-concert     .content-area,
.interview-template-fullwidth-single-interview .content-area,
.post-template-fullwidth-single                .content-area {
    width: 100%
}

.album-template-fullwidth-single-album         .post-thumbnail img,
.book-template-fullwidth-single-book           .post-thumbnail img,
.concert-template-fullwidth-single-concert     .post-thumbnail img,
.interview-template-fullwidth-single-interview .post-thumbnail img,
.post-template-fullwidth-single                .post-thumbnail img {
    width: 100%;
}


/**
 * 5.2 - Single interview
 */

.single-interview .entry-content h2 {
    font-size: 1.3rem;
    line-height: 1.4;
}


/**
 * 6.0 - Comments
 */

.comments-area {
	margin: 0 7.6923% 3.5em;
	line-height: 26.6px;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
	padding-top: 1.75em;
}

.comments-title,
.comment-reply-title {
	border-top: 4px solid #1a1a1a;
        font-family: Merriweather, Georgia, serif;
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 700;
        line-height: 1.3;
	padding-top: 1.217391304em;
}

.comments-title {
	margin-bottom: 1.217391304em;
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid #d1d1d1;
	padding: 1.75em 0;
}

.comment-list .children {
	list-style: none;
	margin: 0;
}

.comment-list .children > li {
	padding-left: 0.875em;
}

.comment-author {
	color: #1a1a1a;
	margin-bottom: 0.4375em;
}

.comment-author .avatar {
	float: left;
	height: 28px;
	margin-right: 0.875em;
	position: relative;
	width: 28px;
}

.bypostauthor > article .fn:after {
	content: "\f304";
	left: 3px;
	position: relative;
	top: 5px;
}

.comment-metadata,
.pingback .edit-link {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.6153846154;
}

.comment-metadata {
	margin-bottom: 2.1538461538em;
}

.comment-metadata a,
.pingback .comment-edit-link {
	color: #686868;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .comment-edit-link:hover,
.pingback .comment-edit-link:focus {
	color: #007acc;
}

.comment-metadata .edit-link,
.pingback .edit-link {
	display: inline-block;
}

.comment-metadata .edit-link:before,
.pingback .edit-link:before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 1.5em 1.25em;
}

.comment-content li > ul,
.comment-content li > ol {
	margin-bottom: 0;
}

.comment-reply-link {
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	color: #007acc;
	display: inline-block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1;
	margin-top: 2.1538461538em;
	padding: 0.5384615385em 0.5384615385em 0.4615384615em;
}

.comment-reply-link:hover,
.comment-reply-link:focus {
	border-color: currentColor;
	color: #007acc;
	outline: 0;
}

.comment-form {
	padding-top: 1.75em;
}

.comment-form label {
	color: #686868;
	display: inline;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

.comment-list .comment-form {
	padding-bottom: 1.75em;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	color: #686868;
	font-size: 14px;
	font-size: 0.875rem;
	margin-bottom: 2.1538461538em;
}

.no-comments {
	border-top: 1px solid #d1d1d1;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-weight: 700;
	margin: 0;
	padding-top: 1.75em;
}

.comment-navigation + .no-comments {
	border-top: 0;
	padding-top: 0;
}

.form-allowed-tags code {
	font-family: Inconsolata, monospace;
}

.form-submit {
	margin-bottom: 0;
}

.required {
	color: #007acc;
	font-family: Merriweather, Georgia, serif;
}

.comment-reply-title small {
	font-size: 100%;
}

.comment-reply-title small a {
	border: 0;
	float: right;
	height: 32px;
	overflow: hidden;
	width: 26px;
}

.comment-reply-title small a:hover,
.comment-reply-title small a:focus {
	color: #1a1a1a;
}

.comment-reply-title small a:before {
	content: "\f405";
	font-size: 32px;
	position: relative;
	top: -5px;
}

.comment-form #wp-comment-cookies-consent {
	margin: 0 10px 0 0;
}

.comment-form .comment-form-cookies-consent label {
	display: inline;
	font-family: Merriweather, Georgia, serif;
	letter-spacing: 0;
	text-transform: none;
}


/**
 * 7.0 - Jetpack Related Posts
 */


/* Jetpack Related Posts */

.entry-content #jp-relatedposts {
    padding: 3em 0 0;
}

.jp-relatedposts:before,
.jp-relatedposts-items:before,
.jp-relatedposts:last-child::after,
.jp-relatedposts-items:after,
.jp-relatedposts-post-context {
    display: none;
}

.entry-content #jp-relatedposts h3.jp-relatedposts-headline {
    color: inherit;
    font-family: Montserrat,"Helvetica Neue",sans-serif;
    font-size: 13px;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1.076923077em;
}

.entry-content #jp-relatedposts .jp-relatedposts-items p, .entry-content #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
    font-size: 13px;
    font-size: .8125rem;
    letter-spacing: 0;
    line-height: 1.615384615;
}

.jp-relatedposts-post-title,
.entry-content #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-size: 0.725em;
    margin: 0.75em 0 0.25em;
    max-height: 52px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#jp-relatedposts h3.jp-relatedposts-headline em {
    font-weight: normal;
}

#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date {
    font-size: 13px;
    font-size: 0.725em;
}

.entry-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a {
    font-weight: normal;
    box-shadow: none;
}

.entry-content #jp-relatedposts h3.jp-relatedposts-headline {
    margin-bottom: 2.05em;
    text-transform: uppercase;
    color: #686868;
    letter-spacing: 0.769px;
}

.widget.jetpack_widget_social_icons li a {
    border-color: #7f7f7f;
    margin-right: 10px;
}

.sharedaddy.sd-sharing-enabled {
    padding: 1.75em 0 1em;
    margin-top: 50px;
}

.jetpack-likes-widget-wrapper {
    padding-bottom: 0 !important;
    margin-bottom: -20px;
}

.hentry .jetpack-likes-widget-wrapper h3.sd-title,
.jetpack-social-widget-item + .jetpack-social-widget-item + .jetpack-social-widget-item + .jetpack-social-widget-item .icon-feed {
    display: none;
}

#jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post {
-webkit-opacity: 1;
   -moz-opacity: 1;
    -ms-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
}


/**
 * 8.0 - Media Queries
 */


/* < 480px */

@media screen and (max-width: 479px) {
    .single .byline {
        display: none;
    }

    .fable {
        width: 100%;
    }
}

/* < 768px */

@media screen and (max-width: 767px) {
    .fable {
        font-size: 11px;
    }
}

/* < 910px */

@media screen and (max-width: 909px) {
    #jp-relatedposts .jp-relatedposts-items-visual {
        margin-right: -10px !important;
    }

    .entry-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
        box-sizing: border-box;
        width: 33.33%;
        padding-right: 10px;
    }

    #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:nth-child(3n) {
        clear: none !important;
    }

    .entry-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date {
        display: none !important;
    }

    body.tax-person    article:not(.sticky) .entry-footer .album-release-date,
    body.tax-person    article:not(.sticky) .entry-footer .book-release-date,
    body.tax-publisher article:not(.sticky) .entry-footer .book-release-date {
        display: inline !important;
    }
}

/* >= 985px */

@media screen and (min-width: 61.5625em) {
    /* Entry paragraphs */

    .single .entry-content {
        counter-reset: paragraphCount;
    }

    .single .entry-content > p {
        position: relative;
        counter-increment: paragraphCount;
    }

    .single .entry-content > p:before {
        position: absolute;
        content: counter(paragraphCount);
        top: 3px;
        left: -30px;
        width: 20px;
        height: 20px;
        font-size: 80%;
        opacity: 0.25;
        filter: alpha(opacity=25);
    }

    .single .entry-content > blockquote.alignleft + p:before {
        content: '';
    }

    .single .entry-content > p.media {
        counter-increment: paragraphCount -0;
    }

    .single .entry-content > p.media:before {
        display: none;
    }

    .single article .entry-footer .posted-on.book-release-date {
        display: none;
    }

    .akismet_comment_form_privacy_notice a {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }
}
